<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Yassin Khalfaoui</h1>
        <h3>full stack developer </h3>
    </div>


    <div style="position: absolute; bottom: 5px; right: 10px;">

        <a href="https://www.linkedin.com/in/yassin-khalfaoui-8a09b2314/" target="_blank" class="">
            <img src="../../assets/linkedinpng.png" width="24" height="24" class="rounded-circle  me-2">
            
        </a>

        <a href="https://github.com/khalfaoui-Yassin" target="_blank" class="">
            <img src="../../assets/github.png"width="24" height="24" class="rounded-circle  me-2">
            
        </a>

        <a href="https://www.facebook.com/yassin.khalfaoui.967/" target="_blank" class="">
            <img src="../../assets/facb.png" width="24" height="24" class="rounded-circle  me-2">
           
        </a>



    </div>



</div>