<div class="container">
    <div class="tect-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>I can be reached the following email: <b>khalfaouiyassin1&#64;gmail.com</b></p>
        <p>Feel free to connect with me on any of the following platforms:</p>
    </div>

    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/yassin-khalfaoui-8a09b2314/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/linkedinpng.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

        <a href="https://github.com/khalfaoui-Yassin" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>

        <a href="https://www.facebook.com/yassin.khalfaoui.967/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/facb.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Facebook</h3>
        </a>

    </div>

</div>